doctype
html
  head

    //- $$$$$$$\            $$\       $$\ $$\                  $$$$$$\  $$\                               
    //- $$  __$$\           $$ |      $$ |\__|                $$  __$$\ $$ |                              
    //- $$ |  $$ |$$\   $$\ $$$$$$$\  $$ |$$\  $$$$$$$\       $$ /  \__|$$ | $$$$$$\   $$$$$$$\  $$$$$$$\ 
    //- $$$$$$$  |$$ |  $$ |$$  __$$\ $$ |$$ |$$  _____|      $$ |      $$ | \____$$\ $$  _____|$$  _____|
    //- $$  ____/ $$ |  $$ |$$ |  $$ |$$ |$$ |$$ /            $$ |      $$ | $$$$$$$ |\$$$$$$\  \$$$$$$\  
    //- $$ |      $$ |  $$ |$$ |  $$ |$$ |$$ |$$ |            $$ |  $$\ $$ |$$  __$$ | \____$$\  \____$$\ 
    //- $$ |      \$$$$$$  |$$$$$$$  |$$ |$$ |\$$$$$$$\       \$$$$$$  |$$ |\$$$$$$$ |$$$$$$$  |$$$$$$$  |
    //- \__|       \______/ \_______/ \__|\__| \_______|       \______/ \__| \_______|\_______/ \_______/ 

    meta(charset='utf-8')
    meta(name='author',content='Public Class')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='viewport',content='width=device-width')

    title Bjurholms(P)LAN

    include style.html

  body
    header#header
      hgroup.group
        h1 Bjurholms(P)LAN!
        h2 12-14 Oktober 2012
        h3
          a(href='mailto:bjurholmlan@publicclass.se?subject=BjurholmsLAN') Sign me up!

    section#info
      h1 Vad?
      p
        | Det blir en j&auml;vla massa pang svett &amp; t&aring;rar. Vi 
        | kommer att spela Battlefield, dricka &oslash;l, jolt och red bull
        | i m&auml;ngder. 14 platser finns tillg&auml;ngliga och vi ser 
        | g&auml;rna att du/ni kommer ifall ni skriver upp er s&aring; vi 
        | inte har massa tomma platser. 100 kr kostar det att vara med, men 
        | d&aring; k&ouml;per vi &ouml;l och l&auml;sk f&ouml;r pengarna. 
        | Sj&auml;lvklart tar du med egen dator i klassiskt lan-anda.

    section#who
      h1 Vem?
      div#count
        h2 Platser kvar
        h3 10
      ul 
        li Desmond Arsan
        li Robert Sk&ouml;ld
        li Jakob Stenqvist
        li Hampus H&ouml;gberg
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)
        li.free 
          span (vakant)

    section#where
      h1 Vart? 
      .organization
        p Public Class
        .address
          p Bjurholmsplan 24
          p SE–116 63, Stockholm

      #map
        iframe(width='400',height='250',src='http://maps.stamen.com/toner/embed#17/59.30943/18.08105')

    section#time
      h1 Time left &amp; counting
      time(datetime='2012-10-12T17:00+02:00') 0000

    footer
      h4 Bjurholms(p)lan is proudly presented and sponsored by:
      ul
        li
          a(href='http://deluxeroyale.com/')
            img(src='http://publicclass.s3.amazonaws.com/bjurholmslan/desudesu.png', alt='Deluxe Royale', title="Deluxe Royale")
        li
          a(href='http://hamp.us')
            img(src='http://publicclass.s3.amazonaws.com/bjurholmslan/hampus.png', alt='Hamp.us', title="Hamp.us")
        li
          a(href='http://publicclass.se')
            img(src='http://publicclass.s3.amazonaws.com/bjurholmslan/pc-smile.png', alt='Public Class', title="Public Class")


    script(src='http://code.jquery.com/jquery-1.8.1.min.js')
    script
      $('section').each( function(){
        var bg = $('<div class="bg"/>')
        $(this).prepend(bg);
      })
      var arr = "2012-10-12 17:00:00".split(/[- :]/),
      date = new Date(arr[0], arr[1]-1, arr[2], arr[3], arr[4], arr[5]);

      setInterval( function(){
          var t = ( date - new Date() ) / 1000;
          t = t.toFixed(2).split('.');
          var te = '<span class="milli">'+t[0]+'</span>' + '<span class="period">.</span><span class="deci">' + t[1] + '</span>';
          while( t.length < 13 ) {
            te = '0'+te;
            t = '0'+t;
          }
          $('#time time').html(te);
      }, 10)