html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
@font-face{font-family:'NB55RLSRegular';src:url("http://publicclass.s3.amazonaws.com/bjurholmslan/fonts/nb55rms-webfont.eot");src:url("http://publicclass.s3.amazonaws.com/bjurholmslan/fonts/nb55rms-webfont.eot?#iefix") format('embedded-opentype'),url("http://publicclass.s3.amazonaws.com/bjurholmslan/fonts/nb55rms-webfont.woff") format('woff'),url("http://publicclass.s3.amazonaws.com/bjurholmslan/fonts/nb55rms-webfont.ttf") format('truetype'),url("http://publicclass.s3.amazonaws.com/bjurholmslan/fonts/nb55rms-webfont.svg#NB55RLSRegular") format('svg');font-weight:normal;font-style:normal}
html{background:#e9e9e9;height:100%;-webkit-transition:background .3s;-moz-transition:background .3s;-o-transition:background .3s;-ms-transition:background .3s;transition:background .3s}
body{font-family:'Courier new',sans-serif,Arial;font-size:13px;background:transparent;color:#434343;margin:0 auto;width:980px;overflow-x:hidden;padding:40px 60px 0 80px}
h1,h2,h3{font-family:'NB55RLSRegular',Helvetica,Arial,sans-serif;letter-spacing:.1em;line-height:1em;text-transform:uppercase;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;letter-spacing:-.02em}
h1{font-size:44px}
p{line-height:1.9em}
header#header{background:#f9c7d0;padding-top:30px;color:#434343;position:relative;-webkit-box-shadow:0 0 45px 5px rgba(0,0,0,0.1);box-shadow:0 0 45px 5px rgba(0,0,0,0.1);height:300px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
header#header h1,header#header h2{font-size:60px;margin-bottom:0}
header#header h3{position:absolute;right:60px;top:40px;}
header#header h3 a{display:block;width:220px;height:220px;-webkit-border-radius:220px;border-radius:220px;background:#393939;font-size:35px;color:#fff;text-decoration:none;padding:110px 0;line-height:0;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
section,header,footer{margin-left:-60px;width:1080px;padding:60px;}
section h1,header h1,footer h1{margin-bottom:44px}
section{position:relative;height:320px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-perspective:200px;-moz-perspective:200px;-ms-perspective:200px;perspective:200px;}
section > *{position:relative;z-index:3}
section .bg{-webkit-box-shadow:0 15px 45px 5px rgba(0,0,0,0.1);box-shadow:0 15px 45px 5px rgba(0,0,0,0.1);position:absolute;z-index:1;top:0;bottom:0;left:0;right:0;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}
#info .bg{background:#9ae3ef}
#info p{-webkit-column-count:3;-moz-column-count:3;column-count:3;-webkit-column-gap:60px;-moz-column-gap:60px;column-gap:60px}
#who{position:relative;}
#who .bg{background:#f7f6a1}
#who ul{padding-right:200px;list-style:none;-webkit-column-count:4;-moz-column-count:4;column-count:4;}
#who ul li{margin-bottom:10px;}
#who ul li:before{content:"-";position:relative}
#who ul li.free span{padding:2px 0;background:#9ae3ef}
#count{position:absolute;top:60px;right:60px;text-align:center;}
#count h2{font-size:44px}
#count h3{font-size:140px}
#how .bg{background:#e4ceed}
#how a{color:#434343}
#where .bg{background:#a8efe1}
#map{position:absolute;right:60px;top:50px;height:215px;overflow:hidden}
#time .bg{background:#eee}
#time time{font-size:150px;color:#ccc;font-family:'NB55RLSRegular',Helvetica,Arial,sans-serif;letter-spacing:.1em;line-height:1em;text-transform:uppercase;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;letter-spacing:-.01em;line-height:.5em;}
#time time .deci{color:#f9c7d0}
#time time .milli{color:#a8efe1}
#time div{-webkit-column-count:3;-moz-column-count:3;column-count:3}
#time article{height:150px;width:260px;padding-right}
#time article h3{font-size:25px;line-height:2em;}
#time article h3 a{text-decoration:none;color:#434343}
footer{text-align:center;text-transform:uppercase;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
footer ul{margin-top:32px}
footer li{display:inline;padding:25px}
